extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box
        h1= ProjectData.project_name

        p= ProjectData.description

      .project-tech-links-box.box
        h6 Technologies
        ul

          each technology in ProjectData.technologies
            li= technology

        a.btn-link(href=`${ProjectData.live_link}`) Live Demo
        a.btn-link(href=`${ProjectData.github_link}`) GitHub Repo

    .project-img-box.box

      img.project-img(src=`${ProjectData.image_urls1}`, alt='${ProjectData.project_name} Image 1')
      img.project-img(src=`${ProjectData.image_urls2}`, alt='${ProjectData.project_name} Image 2')
      img.project-img(src=`${ProjectData.image_urls3}`, alt='${ProjectData.project_name} Image 3')

    nav.nav
      a(href='/')
        span &larr;
        |  Back
